#account {
  color: #0b132a;
}

#acc-header img {
  width: 330px;
  height: 330px;
  border: 1px solid gray;
  border-radius: 50%;
}

#acc-header h1 {
  color: #0b132a;
}

#acc-header h3 {
  color: #737a84;
}

.acc-info {
  margin-bottom: 3px;
}

.acc-info span {
  color: #000;
}

#students {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 20px 60px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 17px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 17px 4px rgba(0, 0, 0, 0.15);
}

.w-33 {
  border-right: 2px solid #eeeff2;
}

#students .number {
  font-size: 20px;
  line-height: 21px;
  color: #0b132a;
}

.hr-line {
  color: #0b132a;
  font-weight: 600;
  letter-spacing: 1px;
}

.hr-line hr {
  width: 130px;
  height: 1px;
  margin: 0;
  margin-bottom: 4px;
  margin-left: 12px;
  display: inline-block;
  background-color: #f53838;
}

.skill-name {
  font-size: 14px;
  color: #0b132a;
}

.bg-green-bar {
  background-color: #f53838 !important;
}

.progress-thiner {
  height: 12px !important;
  border-radius: 14px !important;
}

#projects .project {
  background-color: lightslategray;
}

@media (min-width: 992px) {
  #account {
    font-size: 18px;
  }

  .acc-info {
    margin-bottom: 6px;
  }

  #students {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .w-330 {
    height: 332px;
  }

  #acc-header img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  #acc-header h1 {
    font-size: 36px;
  }

  #acc-header h3 {
    font-size: 26px;
  }

  #students {
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  #acc-header img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  #acc-header h1 {
    font-size: 36px;
  }

  #acc-header h3 {
    font-size: 26px;
  }

  #students {
    width: 80%;
  }

  .w-33 {
    border-right: none;
    border-bottom: 2px solid #eeeff2;
  }
}
