@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

#body {
    font-family: 'Rubik', 'sans-serif';
}

#brand-logo {
    font-size: 32px;
    color: #303031;
}

#brand-logo-img {
    width: 28px;
    border-radius: 25%;
}

#nav-link-1,
#nav-link-2,
#nav-link-3 {
    color: #303031;
    margin-right: 30px;
    font-size: 20px;
}

#nav-link-1:hover,
#nav-link-2:hover,
#nav-link-3:hover {
    color: #71A894;
    font-weight: bold;
}

#description {
    margin-top: 75px;
}

#desc-heading {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0%;
    margin-bottom: 22px;
    color: #0B132A;
}

#desc-paragraph {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -2%;
    color: #4F5665;
}

#desc-btn {
    width: 250px;
    height: 60px;
    background-color: #F53838;  
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 45px;
    outline: none;
    /* box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s; */
    -webkit-box-shadow: 0px 40px 37px -13px rgba(245,56,56,0.32); 
    box-shadow: 0px 40px 37px -13px rgba(245,56,56,0.32);
}

#desc-btn:hover {
    background-color: #CA0909;
    -webkit-box-shadow: 0px 38px 23px -7px rgba(202,9,9,0.3); 
    box-shadow: 0px 38px 23px -7px rgba(202,9,9,0.3);
}

#features {
    margin-top: 140px;
    margin-bottom: 140px;
}

#features-desc {
    width: 440px;
    height: 340px;
    margin-top: 100px;
    margin-left: 20px; 
}

#features-desc h2 {
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 0%;
    color: #0B132A;
    width: 350px;
}

#features-desc p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #4F5665;
    margin-top: 20px;
    margin-bottom: 20px;
}

#features-desc ul li {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #4F5665;
}

.check-circle {
    color: #2FAB73;
    margin-right: 12px;
}
 
#footer {
    margin-top: 20px;
    margin-bottom: 40px;
}

#footer-cap {
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -4%;
}

#footer-link-1,
#footer-link-2,
#footer-link-3,
#footer-link-4 {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #0B132A;
}

#footer-link-1:hover,
#footer-link-2:hover,
#footer-link-3:hover,
#footer-link-4:hover {
    color: #71A894;
    font-weight: bold;
}

@media (min-width: 861px) and (max-width: 1160px){
    #desc-heading {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 14px;
    }

    #desc-paragraph {
        font-size: 20px;
        line-height: 25px;
    }

    #desc-btn {
        width: 220px;
        height: 50px;
        font-size: 18px;
        border-radius: 7px;
        margin-top: 30px;
    }

    #features {
        margin-top: 90px;
        margin-bottom: 90px;
    }

    #features-desc {
        width: 440px;
        height: 278px;
        margin-top: 0px;
        margin-left: 0px; 
    }
    
    #features-desc h2 {
        font-size: 30px;
        line-height: 35px;
    }
    
    #features-desc p {
        font-size: 18px;
        line-height: 24px;
        margin-top: 12px;
        margin-bottom: 15px;
    }
}

@media (max-width: 860px){
    #description {
        margin-top: 65px;
    }

    #desc-heading {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 12px;
    }

    #desc-paragraph {
        font-size: 18px;
        line-height: 23px;
    }

    #desc-btn {
        width: 200px;
        height: 45px;
        font-size: 16px;
        border-radius: 5px;
        margin-top: 25px;
    }

    #features {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #features-desc {
        /* width: 440px; */
        height: 248px;
        margin-top: 0px;
        margin-left: 0px; 
    }
    
    #features-desc h2 {
        font-size: 26px;
        line-height: 32px;
        /* width: 350px; */
    }
    
    #features-desc p {
        font-size: 16px;
        line-height: 22px;
        margin-top: 12px;
        margin-bottom: 15px;
    }
    
    #features-desc ul li {
        font-size: 16px;
        line-height: 23px;
    }

    #footer {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    #footer-cap {
        font-size: 20px;
    }
    
    #footer-link-1,
    #footer-link-2,
    #footer-link-3 {
        font-size: 16px;
    }
    
    #footer-link-4 {
        font-size: 16px;
    } 

    #footer-link {
        margin-top: 3px;
    }
}

@media (max-width: 767px){
    #brand-logo {
        font-size: 30px;
    }

    #description {
        margin-top: 15px;
    }

    #desc-image, #feature-image {
        width: 400px;
        display: flex;
        justify-content: center;
    }

    #desc-image {
        margin-top: 85px;
    }

    #btn-con {
        display: flex;
        justify-content: center;
    }

    #features {
        margin-bottom: 10px;
        margin-top: 65px;
    }

    #features-desc, 
    #features-desc h2 {
        width: 100%;
    }

    #features-desc {
        margin-top: 40px;
    }

    #footer {
        margin-top: 65px;
        text-align: center;
    }
}

@media (max-width: 767px) and (min-width: 450px) {
    #desc-image,
    #feature-image {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}