.project {
  position: relative;
  -webkit-box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.project img {
  opacity: 1;
  display: block;
  transition: 0.4s ease;
  backface-visibility: hidden;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.project .project-middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.project:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.project:hover .img-div {
  background: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.project:hover img {
  opacity: 0.3;
}

.project:hover .project-middle {
  opacity: 1;
}

.project-title-div {
  color: #0b132a;
  padding: 15px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top: 1px solid #d0d0d0;
}

.project-title {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
}

@media (max-width: 355px) {
  .project-middle {
    display: flex;
  }
}
