.student-border {
  border-right: 2px solid #eeeff2;
}

#student-2 {
  border-right: none;
}

@media (max-width: 767px) {
  .student-border {
    border-right: none;
    border-bottom: 2px solid #eeeff2;
  }

  #student-2 {
    border-bottom: none;
  }
}
