.testimonail-div {
    height: 220px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.testimonail-div img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonail-div h4 {
    color: #0B132A;
    font-size: 22px;
}

.testimonail-div h5 {
    color: #4F5665;
    font-size: 18px;
}

.testimonail-div p {
    font-size: 16px;
    line-height: 24px;
    color: #0B132A;
}

@media (max-width: 1199px) and (min-width: 768px) {
    .testimonail-div h4 {
        font-size: 20px;
    }
    
    .testimonail-div h5 {
        font-size: 17px;
    }
    
    .testimonail-div p {
        font-size: 16px;
        line-height: 24px;
    }
}